<div id="register" ng-controller="RegisterCtrl as RegisterCtrl">
    <h3> Register </h3>
    <!--ERROR MESSAGES -->
   <!--  <div class="flash row-fluid">
      <div class="flash-inner span4 offset4 alert alert-warning" ng-repeat="errorMsg in errorMessages">
        {{errorMsg}}
      </div>
    </div> -->

    <!--END ERROR MESSAGES -->
    <form name="registerForm" ng-submit="registerSubmit(registerForm.$valid)" novalidate>
      <div class="form-group">
        <label for="registerUsername">Username</label>
        <input type="text" class="form-control" name="registerUsername" placeholder="Enter username" ng-model="user.registerUsername" ng-minlength="3" ng-maxlength="6" required>
        <p ng-show="registerForm.registerUsername.$error.required && registerForm.registerUsername.$dirty" class="help-block">A username is required.</p>
        <p ng-show="registerForm.registerUsername.$error.minlength" class="help-block">Username is too short (min. 3 characters).</p>
        <p ng-show="registerForm.registerUsername.$error.maxlength" class="help-block">Username is too long (max. 6 characters).</p>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" ng-model="user.registerEmail" placeholder="Enter email" required>
        <p ng-show="registerForm.email.$error.required && registerForm.email.$dirty" class="help-block">An email address is required.</p>
        <p ng-show="registerForm.email.$invalid && registerForm.email.$dirty && !registerForm.email.$error.required" class="help-block">Enter a valid email.</p>
      </div>      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="user.registerPassword" ng-minlength="5" placeholder="Password" required>
        <p ng-show="registerForm.password.$error.required && registerForm.password.$dirty" class="help-block">A password is required.</p>
        <p ng-show="registerForm.password.$error.minlength" class="help-block">Password is too short (min. 5 characters).</p>
      </div>
      <!-- <div class="form-group">
        <label for="password">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="user.confirmPassword" ng-minlength="5" placeholder="Password" repeat-password="password" required compare-to="user.password">
        <p ng-show="registerForm.confirmPassword.$error.required && registerForm.confirmPassword.$dirty" class="help-block">You must confirm your password.</p>
        <div ng-show="registerForm.confirmPassword.$error && registerForm.confirmPassword.$dirty && !registerForm.confirmPassword.$error.required" > Confirm password doesn't match</div>
      </div> -->
      <button type="submit" class="btn btn-default" ng-disabled="registerForm.$invalid" style="width:100%;">Submit</button>
    </form>
  </div> 