<div class="container" >
  <h3> Leader Board </h3>
  <div class="row" ng-controller="LeaderboardCtrl">
    <!-- <div class="col-lg-12">
      <h1 class="page-header">Leader Board</h1> -->
    <div class="col-md-2">
      <span> Player 1 </span>
    </div>
    <div class="col-md-2">
      <span> Player 2 </span>
    </div>
    <div class="col-md-2">
      <span> Player 3 </span>
    </div>
    <div class="col-md-2">
      <span> Player 4 </span>
    </div>
    <div class="col-md-2">
      <span> Player 5 </span>
    </div>
    <div class="col-md-2">
      <span> Player 6 </span>
    </div>
  </div>
</div>