<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container" ng-nodel="user">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">lamusique</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li> <a> {{user.getUserUsername()}}</a></li>        
        <li> <a> {{user.getUserPoints()}} points </a></li>
        <!-- <li> <a> {{user.getUserGems()}} gems </a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="user.getUserLoggedIn()">
          <a href="#" ng-click="signup()"> Sign up </a>
        </li>
        <li ng-hide="user.getUserLoggedIn()" >
          <a href="#" ng-click="login()"> Login </a>
        </li>
        <li ng-show="user.getUserLoggedIn()">
          <a href="#" ng-click="logout()"> Logout  </a>
        </li>
      </ul>
    </div><!-- END OF NAVBAR HEADER -->

    <div ng-show="inLogin" style="margin-bottom: 10px"> <!--LOGIN FORM -->
      <hr> 
      <div> 
        <button type="button" class="btn btn-default pull-right" ng-click="cancel()"> Cancel </button>
      </div>
      <div ng-include="'components/login/login.html'"></div>
    </div>
    <div ng-show="inSignup" style="margin-bottom: 10px"> <!--SIGNUP FORM -->
      <hr>
      <div> 
        <button type="button" class="btn btn-default pull-right" ng-click="cancel()"> Cancel </button>
      </div>
      <div ng-include="'components/register/register.html'"></div>
    </div>
  </div>
</div>

