


<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Next round in </h1>
    <!-- <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->

    <div class='row'>
      <!--QUESTION CATEGORY DROP DOWN-->
      <div class='col-md-4'>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Question category <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Artist</a></li>
            <li><a href="#">Song title</a></li>   
          </ul>
        </div>
      </div>
      <!--END QUESTION CATEGORY DROP DOWN -->

      <!--GENRE DROP DOWN -->
      <div class="col-md-4">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Music Genre <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Rock</a></li>
            <li><a href="#">Pop</a></li>   
          </ul>
        </div>
      </div> <!--END GENRE DROP DOWN -->
      <div class="col-md-4">
        <label>
          <input type="checkbox"> Bot Mode
        </label>
      </div> <!-- END OF BOT MODE-->
    </div> <!--END OF DROPDOWNS ROW -->
  </div>
</header>

 <script>



 </script>

<div class="container">
  <h3> Leader Board </h3>
  <div class="row">
    <!-- <div class="col-lg-12">
      <h1 class="page-header">Leader Board</h1> -->
    <div class="col-md-2">
      <span> Player 1 </span>
    </div>
    <div class="col-md-2">
      <span> Player 2 </span>
    </div>
    <div class="col-md-2">
      <span> Player 3 </span>
    </div>
    <div class="col-md-2">
      <span> Player 4 </span>
    </div>
    <div class="col-md-2">
      <span> Player 5 </span>
    </div>
    <div class="col-md-2">
      <span> Player 6 </span>
    </div>

      <!-- <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul> -->
    </div>
  </div>

 <!--  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->

  <!-- GAME AREA-->
  <div class="container">
    <!-- ROW FOR MEDIA PLAYER -->
    <div class="row" >
      <h2>Media Player:</h2>
      <div ng-controller="MainCtrl">
        <audio media-player="mediaPlayer" playlist="audioPlaylist"></audio>
        <div class="player-control">
          <div class="btn" ng-click="mediaPlayer.play()">
            <span>Simple Play</span>
            <i class="fa fa-play"></i>
          </div>
          <div class="btn" ng-click="mediaPlayer.playPause()">
            <i class="fa" ng-class="{ 'fa-pause': mediaPlayer.playing, 'fa-play': !mediaPlayer.playing }"></i>
          </div>
          <div class="btn" ng-click="mediaPlayer.next()">
            <span>Next</span>
            <i class="fa fa-step-forward"></i>
          </div>
          <div class="btn" ng-click="mediaPlayer.prev()">
            <i class="fa fa-step-backward"></i>
            <span>Prev</span>
          </div>
          <div class="btn btn-noclick">
            <span>currentTrack: <span class="badge">[[mediaPlayer.currentTrack]]</span></span>
          </div>
          <div class="btn btn-noclick">
            <span><i class="fa fa-clock-o"></i>: <span class="badge">[[ mediaPlayer.formatTime ]]</span></span>
          </div>
          <div class="btn btn-noclick">
            <span>volume: <span class="badge">[[ mediaPlayer.volume * 100 | number:0 ]]%</span></span>
          </div>
          <div class="btn" ng-click="mediaPlayer.setVolume(mediaPlayer.volume - 0.1)">
            <span><i class="fa fa-volume-down"></i></span>
          </div>
          <div class="btn" ng-click="mediaPlayer.setVolume(mediaPlayer.volume + 0.1)">
            <span><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="progress" ng-click="mediaPlayer.seek(mediaPlayer.duration * seekPercentage($event))">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: mediaPlayer.currentTime*100/mediaPlayer.duration + '%' }"></div>
            <div class="time" ng-show="mediaPlayer.formatTime">
              <span>[[ mediaPlayer.formatTime ]]</span><b>/</b><span>[[ mediaPlayer.formatDuration ]]</span>
            </div>
          
        </div><!-- END OF MAIN CTRL CLASS->
      </div><!-- END OF MEDIA PLAYER ROW DIV -->
  </div> <!-- END OF MEDIA PLAYER CONTAINER DIV-->
  
  <div class="container" id="gridContainer">
  <!-- GRID AND CHAT -->
    <div class="row">
  <!--LEFT COLUMN -->
    <div class="col-md-6" id="grid" ng-include="'components/grid/grid.html'">
    </div>
  <!-- RIGHT COLUMN -->
    <div class="col-md-6" id="chat" ng-include="'components/chat/chat.html'">
    </div>

  </div><!-- END OF ROW DIV-->
</div><!-- END OF CONTAINER DIV-->



<!-- <footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer> -->
