<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" ng-controller="MainCtrl">

  
  <div class="container">
    <h3 ng-show="newPlayer && !user.getUserAdmin()">There might a round in progress, the next one will start soon...</h3>
    <h3 ng-show="newPlayer && user.getUserAdmin()">The first round will start soon...</h3>
    <h3 ng-show="secondsLeft > 0">Next round in ... {{secondsLeft}} seconds</h3>
    <h3 ng-show="secondsLeft == 0">Next round ... NOW, GOOD LUCK!!</h3>
    <h3 ng-show="roundInProgress" ng-model="questionSelected" ng-model="genreSelected"> 
      Current round is 'guess the {{questionSelected}}' in {{genreSelected}} music
    </h3>
    <h3 ng-show="user.getUserAdmin() && roundInProgress"> 
      You are the game admin and can choose the next round:
    </h3>


    <!--LAYOUT FOR ADMIN -->
    <div class='row' ng-show="user.getUserAdmin()" >
    
      <!--QUESTION CATEGORY DROP DOWN-->
      <div class='col-md-3' ng-show="roundInProgress">
        <select id="select-question" class="form-control btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-model="nextQuestionSelected" ng-change="updateQuestion()" ng-disabled="questionSelectable">
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><option value="title">Guess the title</option></a></li>
            <li><a href="#"><option value="artist">Guess the artist</option></a></li>
        </select>
      </div>
      <!--END QUESTION CATEGORY DROP DOWN -->

      <!--GENRE DROP DOWN -->
      <div class="col-md-3" ng-show="roundInProgress">
        <select id="select-genre" class="form-control btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-model="nextGenreSelected" ng-change="updateGenre()" ng-disabled="genreSelectable">
          <ul class="dropdown-menu" role="menu">
            <!-- <li><a href="#"><option value="default">Music genre (default: rock)</option></a></li> -->
            <li><a href="#"><option value="rock">Rock</option></a></li>
            <li><a href="#"><option value="pop">Pop</option></a></li>
            <li><a href="#"><option value="alternative">Alternative</option></a></li>
            <li><a href="#"><option value="country">Country</option></a></li>
            <li><a href="#"><option value="r-and-b">R&ampB</option></a></li>
        </select>
      </div> <!--END GENRE DROP DOWN -->
      <!-- <div class="col-md-3" ng-show="user.getUserAdmin() && roundInProgress">
        <label>
          <input type="checkbox"> Bot Mode
        </label>
      </div> --> 
      <!-- END OF BOT MODE-->
      <!-- PAUSE THE GAME -->
      <div class="col-md-3" ng-show="user.getUserAdmin() && roundInProgress && !gameOnPause">
        <button id="pause-button" type="button" class="btn btn-default" ng-click="pauseGame()"> Pause game </button>
      </div>
      <div class="col-md-3" ng-show="user.getUserAdmin() && roundInProgress && gameOnPause">
        <button id="pause-button" type="button" class="btn btn-default" ng-click="restartGame()"> Restart game </button>
      </div>
    </div> <!--END OF DROPDOWNS ROW -->
  </div> 


</header>

 <!-- LEADER BOARD -->
  <div ng-include="'components/leader_board/leader_board.html'"></div>

  <!-- GAME AREA-->
  <!-- ROW FOR MEDIA PLAYER -->
  <div class="container" ng-include="'components/mediaplayer/mediaplayer.html'" ></div>   
  
  <!-- GRID AND CHAT -->
  <div class="container" id="gridContainer">  
    <table class="answerTable">
      <tbody></tbody>
    </table>
    <div class="row">
    <!--LEFT COLUMN GRID-->
    <div class="col-md-6" id="grid" ng-include="'components/grid/grid.html'">
    </div>
    <!-- RIGHT COLUMN CHAT-->
    <div class="col-md-6" id="chat" ng-include="'components/chat/chat.html'">
    </div>

  </div><!-- END OF ROW DIV-->
</div><!-- END OF CONTAINER DIV-->
