<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Next round in </h1>
    <!-- <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->

    <div class='row'>
      <!--QUESTION CATEGORY DROP DOWN-->
      <div class='col-md-4'>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Question category <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Artist</a></li>
            <li><a href="#">Song title</a></li>   
          </ul>
        </div>
      </div>
      <!--END QUESTION CATEGORY DROP DOWN -->

      <!--GENRE DROP DOWN -->
      <div class="col-md-4">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Music Genre <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Rock</a></li>
            <li><a href="#">Pop</a></li>   
          </ul>
        </div>
      </div> <!--END GENRE DROP DOWN -->
      <div class="col-md-4">
        <label>
          <input type="checkbox"> Bot Mode
        </label>
      </div> <!-- END OF BOT MODE-->
    </div> <!--END OF DROPDOWNS ROW -->
  </div>
</header>

<script>
  $(function(){
    var isMouseDown = false;
    var isSelected;
    var selectedWord = "";
    var alphabetSet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    var maxCellSize = 9;
    var validation = false;
    populateTable();
    generateAnswer("Poker Face");
    
    var Test = (function () {
      
      'use strict';
       return {
          hello: (function(){
            console.log("ALOHA");
          }),
          generateAnswerPlaceholder: (function (quizAnswer, validation) {
              //quizAnswer = quizAnswer.split(" ");
              console.log("quizAnswer = " + quizAnswer);
              console.log("validation = " + validation);
              // console.log("quizAnswer.length = " + quizAnswer.length);
              // var answer_table = $('.answerTable').find('tbody').empty();
              // var tr = $('<tr>').appendTo(answer_table);
              // for(var i = 0; i < quizAnswer.length; i++){
              //   for(var j = 0; j < quizAnswer[i].length; j++){
              //     validation == false ? $("<td>").text('__').appendTo(tr) : $("<td>").text(''+ quizAnswer[i][j]).appendTo(tr)
              //   }
              //   if(i !== quizAnswer.length - 1){
              //     $("<td style='text-decoration: none;'>").html('&nbsp;&nbsp;&nbsp;&nbsp;').appendTo(tr);
              //   }
              // };
          }())
       };
    }());
    //test.hello();
    //test.generateAnswerPlaceholder("Poker Face", false);
    
    // function generateAnswerPlaceholder(quizAnswer, validation){
    //   "use strict";
    //   quizAnswer = quizAnswer.split(" ");
    //   console.log("quizAnswer = " + quizAnswer);
    //   console.log("quizAnswer.length = " + quizAnswer.length);
    //   var answer_table = $('.answerTable').find('tbody').empty();
    //   var tr = $('<tr>').appendTo(answer_table);
    //   for(var i = 0; i < quizAnswer.length; i++){
    //     for(var j = 0; j < quizAnswer[i].length; j++){
    //       validation == false ? $("<td>").text('__').appendTo(tr) : $("<td>").text(''+ quizAnswer[i][j]).appendTo(tr)
    //     }
    //     if(i !== quizAnswer.length - 1){
    //       $("<td style='text-decoration: none;'>").html('&nbsp;&nbsp;&nbsp;&nbsp;').appendTo(tr);
    //     }
    //   }
    // }

    $("#musicSearch td")
      .on("mousedown",function() {
        isMouseDown = true;
        selectedWord += $(this).text();
        $(this).addClass("selected");
        //isSelected = $(this).hasClass("selected");
        return false;
      })

      .on("mouseover",function () {
        if (isMouseDown) {
          selectedWord += $(this).text();
          $(this).addClass("selected");
        }
      })

      .on("mouseup", function(){
          isMouseDown = false;
          console.log("SELECTED WORD = " + selectedWord);
          checkAnswer(selectedWord);
          selectedWord = "";
      })

    function checkAnswer(input){
      if(input === "POKER" || input === "FACE"){
        console.log("CORRECT");
        $('#musicSearch td').each(function(i, elem){
          if($(elem).hasClass("selected") == true){
            $(elem).addClass("selectedSuccess");
            $(elem).removeClass("selected");
          }
        })
        
      }else{
        console.log("INCORRECT");
        $('#musicSearch td').removeClass("selected");

      }

    }

    function populateTable(){
      for(var i = 0; i < 10; i++){
        for(var j = 0; j < 10; j++){
          $('#cell_'+i+j).html(alphabetSet.charAt(Math.floor(Math.random() * 26)));
        }
      }
    }

    function generateAnswer(answer){
      var position = ["horizontal", "vertical"];
      var songAnswer = answer.toUpperCase().split(" ");
      var songPosition = {
        horizontal: [],
        vertical: []
      };
      var hor_cell = [0,1,2,3,4,5,6,7,8,9];
      var ver_cell = [0,1,2,3,4,5,6,7,8,9];
      console.log("songAnswer = " + songAnswer);
      console.log("songAnswer.length = " + songAnswer.length);

      for(var k = 0; k < songAnswer.length; k++){
  
        var answerLength = songAnswer[k].length;
        var ranPos = Math.floor(Math.random() * 2);
        //console.log("randomPosition = " + ranPos);
        if(position[ranPos] === 'horizontal'){
          console.log(" ======== HORIZONTAL! ========");
          console.log("songAnswer[k] = " + songAnswer[k]);

          //check songPosition array

         if(!songPosition.horizontal.length == 0){
          console.log("AAA");
          console.log("hor_cell before splice = " + hor_cell);
          for(var i in songPosition.horizontal){
            console.log("songPosition.horizontal[i] = " + songPosition.horizontal[i]);
            var indexToRemove = hor_cell.indexOf(songPosition.horizontal[i])
            hor_cell.splice(indexToRemove , 1);
          }
          console.log("hor_cell after splice = " + hor_cell);
          var randomRow = hor_cell[Math.floor(Math.random() * hor_cell.length)];
          var randomCol = ver_cell[Math.floor(Math.random() * (maxCellSize - songAnswer[k].length + 2))];
          console.log("randomRow = " + randomRow);
          console.log("randomCol = " + randomCol);
          var counter = 0;
            for(var m = randomCol; m < (randomCol + songAnswer[k].length); m++){
              //console.log("songAnswer[k].charAt(c) = " + songAnswer[k].charAt(counter));
              //console.log("randomRow = " + randomRow + " and m = " + m);
              $('#cell_'+randomRow+m).html(''+ songAnswer[k].charAt(counter));
              songPosition.vertical.push(m);
              counter++;
            }
           songPosition.horizontal.push(randomRow);
           console.log("===================================================");
           console.log("current songPosition.horizontal = " + songPosition.horizontal);
           console.log("current songPosition.vertical = " + songPosition.vertical);
            // console.log("songPosition = " + songPosition);
          }else{
            console.log("BBB");
            var randomRow = hor_cell[Math.floor(Math.random() * hor_cell.length)];
            var randomCol = ver_cell[Math.floor(Math.random() * (maxCellSize - songAnswer[k].length + 2))];
            console.log("randomRow = " + randomRow);
            console.log("randomCol = " + randomCol);

            var counter = 0;
              for(var m = randomCol; m < (randomCol + songAnswer[k].length); m++){
                //console.log("songAnswer[k].charAt(c) = " + songAnswer[k].charAt(counter));
                //console.log("randomRow = " + randomRow + " and m = " + m);
                $('#cell_'+randomRow+m).html(''+ songAnswer[k].charAt(counter));
                songPosition.vertical.push(m);
                counter++;
              }
             songPosition.horizontal.push(randomRow);
             console.log("===================================================");
             console.log("current songPosition.horizontal = " + songPosition.horizontal);
             console.log("current songPosition.vertical = " + songPosition.vertical);
            
          }
          
         
            //console.log("songPosition = " + songPosition);
        }else if(position[ranPos] === 'vertical'){

         if(!songPosition.vertical.length == 0){
          console.log("CCC");
          console.log(" ======== VERTICAL! ========= ");
          console.log("ver_cell before splice = " + ver_cell);
          for(var i in songPosition.vertical){
            console.log("songPosition.vertical[i] = " + songPosition.vertical[i]);
            var indexToRemove = ver_cell.indexOf(songPosition.vertical[i])
            ver_cell.splice(indexToRemove , 1);

          }
          console.log("ver_cell after splice = " + ver_cell);
          
         
          var randomRow = hor_cell[Math.floor(Math.random() * (maxCellSize - songAnswer[k].length + 2))];
          var randomCol = ver_cell[Math.floor(Math.random() * ver_cell.length)];
          console.log("randomRow = " + randomRow);
          console.log("randomCol = " + randomCol);
          var counter = 0;
            for(var n = randomRow; n < (randomRow + songAnswer[k].length); n++){
              $('#cell_'+n+randomCol).html(''+ songAnswer[k].charAt(counter));
              songPosition.horizontal.push(n);
              counter++;
            }
           songPosition.vertical.push(randomCol);
           console.log("===================================================");
           console.log("current songPosition.horizontal = " + songPosition.horizontal);
           console.log("current songPosition.vertical = " + songPosition.vertical);
         }else{
          console.log("DDD");
          console.log("VERTICAL!");
          console.log("songAnswer[k] = " + songAnswer[k]);
          var randomRow = hor_cell[Math.floor(Math.random() * (maxCellSize - songAnswer[k].length + 2))];
          var randomCol = ver_cell[Math.floor(Math.random() * ver_cell.length)];
          console.log("randomRow = " + randomRow);
          console.log("randomCol = " + randomCol);
          var counter = 0;
          for(var n = randomRow; n < (randomRow + songAnswer[k].length); n++){
              $('#cell_'+n+randomCol).html(''+ songAnswer[k].charAt(counter));
              songPosition.horizontal.push(n);
              counter++;
            }
           songPosition.vertical.push(randomCol);
           console.log("===================================================");
           console.log("current songPosition.horizontal = " + songPosition.horizontal);
           console.log("current songPosition.vertical = " + songPosition.vertical);
         }
         
        }
      }//end of for loop
      console.log("===================================================");
      console.log("final songPosition.horizontal = " + songPosition.horizontal);
      console.log("final songPosition.vertical = " + songPosition.vertical);
    }

  })//end of document ready


</script>

<div class="container">
  <h3> Leader Board </h3>
  <div class="row">
    <!-- <div class="col-lg-12">
      <h1 class="page-header">Leader Board</h1> -->
    <div class="col-md-2">
      <span> Player 1 </span>
    </div>
    <div class="col-md-2">
      <span> Player 2 </span>
    </div>
    <div class="col-md-2">
      <span> Player 3 </span>
    </div>
    <div class="col-md-2">
      <span> Player 4 </span>
    </div>
    <div class="col-md-2">
      <span> Player 5 </span>
    </div>
    <div class="col-md-2">
      <span> Player 6 </span>
    </div>

      <!-- <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul> -->
    </div>
  </div>

 <!--  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->

  <!-- GAME AREA-->
  <div class="container">
    <!-- ROW FOR MEDIA PLAYER -->
    <div class="row" >
      <h2>Media Player:</h2>
      <div ng-controller="MainCtrl">
        <audio media-player="mediaPlayer" playlist="audioPlaylist"></audio>
        <div class="player-control">
          <div class="btn" ng-click="mediaPlayer.play()">
            <span>Simple Play</span>
            <i class="fa fa-play"></i>
          </div>
          <div class="btn" ng-click="mediaPlayer.playPause()">
            <i class="fa" ng-class="{ 'fa-pause': mediaPlayer.playing, 'fa-play': !mediaPlayer.playing }"></i>
          </div>
          <div class="btn" ng-click="mediaPlayer.next()">
            <span>Next</span>
            <i class="fa fa-step-forward"></i>
          </div>
          <div class="btn" ng-click="mediaPlayer.prev()">
            <i class="fa fa-step-backward"></i>
            <span>Prev</span>
          </div>
          <div class="btn btn-noclick">
            <span>currentTrack: <span class="badge">[[mediaPlayer.currentTrack]]</span></span>
          </div>
          <div class="btn btn-noclick">
            <span><i class="fa fa-clock-o"></i>: <span class="badge">[[ mediaPlayer.formatTime ]]</span></span>
          </div>
          <div class="btn btn-noclick">
            <span>volume: <span class="badge">[[ mediaPlayer.volume * 100 | number:0 ]]%</span></span>
          </div>
          <div class="btn" ng-click="mediaPlayer.setVolume(mediaPlayer.volume - 0.1)">
            <span><i class="fa fa-volume-down"></i></span>
          </div>
          <div class="btn" ng-click="mediaPlayer.setVolume(mediaPlayer.volume + 0.1)">
            <span><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="progress" ng-click="mediaPlayer.seek(mediaPlayer.duration * seekPercentage($event))">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: mediaPlayer.currentTime*100/mediaPlayer.duration + '%' }"></div>
            <div class="time" ng-show="mediaPlayer.formatTime">
              <span>[[ mediaPlayer.formatTime ]]</span><b>/</b><span>[[ mediaPlayer.formatDuration ]]</span>
            </div>
          
        </div><!-- END OF MAIN CTRL CLASS->
      </div><!-- END OF MEDIA PLAYER ROW DIV -->
  </div> <!-- END OF MEDIA PLAYER CONTAINER DIV-->
  
  <div class="container" id="gridContainer">
  <!-- GRID AND CHAT -->
    <div class="row">
  <!--LEFT COLUMN -->
      <div class="col-md-6">
      <h1 id="wordSearch">Word Search</h1>
      <h2>CORRECT ANSWER</h2>
        <table class="answerTable">
         <tbody></tbody>
        </table>
      <br/>
      
      <table class="musicGrid" id="musicSearch">
        <tr>
        <td></td>
         <td>0</td>
         <td>1</td>
         <td>2</td>
         <td>3</td>
         <td>4</td>
         <td>5</td>
         <td>6</td>
         <td>7</td>
         <td>8</td>
         <td>9</td>
        </tr>
        <tr>
          <td>0</td>
          <td id="cell_00">T</td>
          <td id="cell_01">A</td>
          <td id="cell_02">B</td>
          <td id="cell_03">C</td>
          <td id="cell_04">J</td>
          <td id="cell_05">K</td>
          <td id="cell_06">I</td>
          <td id="cell_07">O</td>
          <td id="cell_08">P</td>
          <td id="cell_09">Q</td>
        </tr>
         <tr>
          <td>1</td>
          <td id="cell_10">T</td>
          <td id="cell_11">A</td>
          <td id="cell_12">B</td>
          <td id="cell_13">C</td>
          <td id="cell_14">J</td>
          <td id="cell_15">K</td>
          <td id="cell_16">I</td>
          <td id="cell_17">O</td>
          <td id="cell_18">P</td>
          <td id="cell_19">Q</td>
        </tr>
         <tr>
          <td>2</td>
          <td id="cell_20">T</td>
          <td id="cell_21">A</td>
          <td id="cell_22">B</td>
          <td id="cell_23">C</td>
          <td id="cell_24">J</td>
          <td id="cell_25">K</td>
          <td id="cell_26">I</td>
          <td id="cell_27">O</td>
          <td id="cell_28">P</td>
          <td id="cell_29">Q</td>
        </tr>
         <tr>
          <td>3</td>
          <td id="cell_30">T</td>
          <td id="cell_31">A</td>
          <td id="cell_32">B</td>
          <td id="cell_33">C</td>
          <td id="cell_34">J</td>
          <td id="cell_35">K</td>
          <td id="cell_36">I</td>
          <td id="cell_37">O</td>
          <td id="cell_38">P</td>
          <td id="cell_39">Q</td>
        </tr>
         <tr>
          <td>4</td>
          <td id="cell_40">T</td>
          <td id="cell_41">A</td>
          <td id="cell_42">B</td>
          <td id="cell_43">C</td>
          <td id="cell_44">J</td>
          <td id="cell_45">K</td>
          <td id="cell_46">I</td>
          <td id="cell_47">O</td>
          <td id="cell_48">P</td>
          <td id="cell_49">Q</td>
        </tr>
         <tr>
          <td>5</td>
          <td id="cell_50">T</td>
          <td id="cell_51">A</td>
          <td id="cell_52">B</td>
          <td id="cell_53">C</td>
          <td id="cell_54">J</td>
          <td id="cell_55">K</td>
          <td id="cell_56">I</td>
          <td id="cell_57">O</td>
          <td id="cell_58">P</td>
          <td id="cell_59">Q</td>
        </tr>
         <tr>
          <td>6</td>
          <td id="cell_60">T</td>
          <td id="cell_61">A</td>
          <td id="cell_62">B</td>
          <td id="cell_63">C</td>
          <td id="cell_64">J</td>
          <td id="cell_65">K</td>
          <td id="cell_66">I</td>
          <td id="cell_67">O</td>
          <td id="cell_68">P</td>
          <td id="cell_69">Q</td>
        </tr>
         <tr>
          <td>7</td>
          <td id="cell_70">T</td>
          <td id="cell_71">A</td>
          <td id="cell_72">B</td>
          <td id="cell_73">C</td>
          <td id="cell_74">J</td>
          <td id="cell_75">K</td>
          <td id="cell_76">I</td>
          <td id="cell_77">O</td>
          <td id="cell_78">P</td>
          <td id="cell_79">Q</td>
        </tr>
         <tr>
          <td>8</td>
          <td id="cell_80">T</td>
          <td id="cell_81">A</td>
          <td id="cell_82">B</td>
          <td id="cell_83">C</td>
          <td id="cell_84">J</td>
          <td id="cell_85">K</td>
          <td id="cell_86">I</td>
          <td id="cell_87">O</td>
          <td id="cell_88">P</td>
          <td id="cell_89">Q</td>
        </tr>
         <tr>
          <td>9</td>
          <td id="cell_90">T</td>
          <td id="cell_91">A</td>
          <td id="cell_92">B</td>
          <td id="cell_93">C</td>
          <td id="cell_94">J</td>
          <td id="cell_95">K</td>
          <td id="cell_96">I</td>
          <td id="cell_97">O</td>
          <td id="cell_98">P</td>
          <td id="cell_99">Q</td>
        </tr>
      </table>
      <br/>
      <div>
      
      <h2>TYPE YOUR ANSWER</h2>
      <input type="text" ng-model="answer" ng-change="change()"><span id="answerValidation"></span>
    </div>
  </div><!-- END OF ROW DIV-->
</div><!-- END OF CONTAINER DIV-->



<!-- <footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer> -->
