header {
    background-color: #5F7383;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
    height: 115px;
    box-sizing: border-box;
}

#banner h3 {
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1px;
    //background-color: #5F7383;
}

.hero-unit {
    position: relative;
    padding: 5px 5px;
    color: #F5F5F5;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#media-player-row {
    margin-top: 20px;
}

.musicGrid{
    width: 450px;
    height: 450px;
    border:1px solid black;
}

.musicGrid td{
    background: lightblue;
    border: 1px white solid;
    padding: 0;
    font-size: 31px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.musicGrid td.selected{
    color: orange;
}

.musicGrid td.selectedSuccess{
    background-color: lightgreen;
}

.answerTable{
    width: 450px;
}

.answerTable td{
    width: 52px;
    height: 52px;
    font-size: 35px;
    text-decoration: underline;
    padding: 10px;
}

#answerValidation{
    margin-left: 25px;
}

#answerValidation.success{
    color: green;
}

#answerValidation.error{
    color: red;
}

#gridContainer{
    padding-bottom: 50px;
}
